include LICENSE
include README.rst
include MANIFEST.in
include requirements.txt
recursive-include tests *.py
recursive-include examples *.py

recursive-include PyGRB data/*
recursive-exclude docs *
exclude *.yml
exclude *.coverage
recursive-exclude * __pycache__
exclude .gitignore
